wheel
fastapi
awswrangler
beautifulsoup4
boto3
botocore
celery
email-validator
googletrans
joblib
kombu
numpy
pandas
pyarrow
pydantic
redis
regex
scikit-learn
SQLAlchemy
transformers
uvicorn
pdfminer
nltk
Pillow
bcrypt
psycopg2-binary
wordcloud
python-multipart