amqp==5.0.6
anyio==3.3.4
asgiref==3.4.1
asn1crypto==1.4.0
awswrangler==2.12.1
beautifulsoup4==4.10.0
billiard==3.6.4.0
boto3==1.20.8
botocore==1.23.9
celery==5.2.1
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
decorator==5.1.0
Deprecated==1.2.13
dnspython==2.1.0
email-validator==1.1.3
et-xmlfile==1.1.0
fastapi==0.70.0
filelock==3.4.0
googletrans==3.0.0
greenlet==1.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.11.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.1.2
hyperframe==5.2.0
idna==2.10
jmespath==0.10.0
joblib==1.1.0
jsonpath-ng==1.5.3
kombu==5.2.2
lxml==4.6.4
numpy==1.21.4
openpyxl==3.0.9
opensearch-py==1.0.0
packaging==21.3
pandas==1.3.4
pg8000==1.21.3
ply==3.11
progressbar2==3.55.0
prompt-toolkit==3.0.22
pyarrow==5.0.0
pydantic==1.8.2
PyMySQL==1.0.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-utils==2.5.6
pytz==2021.3
PyYAML==6.0
redis==4.0.1
redshift-connector==2.0.900
regex==2021.11.10
requests==2.26.0
requests-aws4auth==1.1.1
rfc3986==1.5.0
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.2
scramp==1.4.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.27
starlette==0.16.0
threadpoolctl==3.0.0
tokenizers==0.10.3
tqdm==4.62.3
transformers==4.12.5
typing-extensions==4.0.0
urllib3==1.26.7
uvicorn==0.15.0
vine==5.0.0
wcwidth==0.2.5
wrapt==1.13.3
youtube-transcript-api==0.4.2
seaborn==0.11.2
matplotlib==3.2.1

