amqp==5.0.6
anyio==3.3.4
asgiref==3.4.1
asn1crypto==1.4.0
awswrangler~=2.7.0
beautifulsoup4~=4.9.3
billiard==3.6.4.0
boto3~=1.17.12
botocore~=1.20.12
celery~=5.1.2
certifi~=2019.3.9
chardet==3.0.4
charset-normalizer==2.0.7
click~=7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
decorator~=4.4.2
Deprecated==1.2.13
dnspython==2.1.0
email-validator==1.1.3
et-xmlfile==1.1.0
fastapi==0.70.0
filelock~=3.0.12
googletrans~=3.1.0a0
greenlet==1.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload~=2021.8.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.1.2
hyperframe==5.2.0
idna==2.10
jmespath==0.10.0
joblib~=0.13.2
jsonpath-ng==1.5.3
kombu~=5.1.0
lxml~=4.6.3
numpy~=1.18.2
openpyxl~=3.0.7
opensearch-py==1.0.0
packaging~=20.9
pandas~=1.1.5
pg8000~=1.18.0
ply==3.11
progressbar2==3.55.0
prompt-toolkit==3.0.22
pyarrow~=3.0.0
pydantic==1.8.2
PyMySQL==1.0.2
pyparsing~=2.4.7
python-dateutil~=2.8.1
python-utils
pytz~=2021.1
PyYAML~=5.4.1
redis~=3.5.3
redshift-connector==2.0.900
regex~=2020.11.13
requests~=2.25.1
requests-aws4auth==1.1.1
rfc3986==1.5.0
s3transfer~=0.3.4
sacremoses~=0.0.45
scikit-learn~=0.21.3
scipy~=1.4.1
scramp~=1.2.2
six~=1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve~=1.9.6
SQLAlchemy~=1.4.25
starlette==0.16.0
threadpoolctl~=2.1.0
tqdm~=4.56.0
transformers~=4.9.2
typing-extensions==4.0.0
urllib3~=1.26.3
uvicorn==0.15.0
vine==5.0.0
wcwidth==0.2.5
wrapt~=1.12.1
youtube-transcript-api==0.4.2
tokenizers==0.10.3
seaborn==0.11.2
matplotlib==3.2.1
wordcloud==1.8.1

pdfminer~=20191125
Flask~=1.1.2
PyPDF2~=1.26.0
nltk~=3.5
mysql-connector-python~=8.0.26
py~=1.10.0
colorama~=0.4.4
bs4~=0.0.1
html5lib~=0.9999999
opencv-python~=4.2.0.34
cryptography~=3.4.7
future~=0.18.2
contextvars~=2.4
pytest~=6.2.2
cffi~=1.14.5
PySide2~=5.15.2
Pillow~=4.0.0
olefile~=0.46
pip~=21.1.2
toml~=0.10.2
wheel~=0.36.2
google~=2.0.3
rsa~=4.7
pyasn1~=0.4.8
attrs~=20.3.0
pymongo~=3.12.0
Keras~=2.3.1
gast~=0.3.3
h5py~=2.10.0
dataclasses~=0.8
isort~=5.7.0
setuptools~=53.0.0
tensorflow~=2.2.0
isodate~=0.6.0
torch~=1.9.0
astunparse~=1.6.3
dill~=0.3.4
tensorboard~=2.2.2
psutil~=5.6.7
cachetools~=4.2.1
protobuf~=3.14.0
pylint~=2.6.0
astroid~=2.4.2
mccabe~=0.6.1
pluggy~=0.13.1
iniconfig~=1.1.1
atomicwrites~=1.4.0
contextlib2~=21.6.0
murmurhash~=1.0.6
tflearn~=0.5.0
Markdown~=3.3.3
oauthlib~=3.1.0
Werkzeug~=1.0.1
pycparser~=2.20
itsdangerous~=1.1.0
python-multipart~=0.0.5
Jinja2~=2.11.3
cycler~=0.10.0
kiwisolver~=1.3.1
astor~=0.8.1
termcolor~=1.1.0
immutables~=0.16
bcrypt~=3.2.0
sentencepiece~=0.1.96
zipp~=3.4.0